<div class="jumbotron text-center">
  <h2 class="display-4">About TherapyTrack</h2>
  <p class="lead">
    TherapyTrack is an application for people with anxiety/depression that synthesizes user information in a single page report and remind users to schedule therapy appointments.
  </p>
  <hr class="my-4">
  <h4 class="display-6">TherapyTrack has 2 main goals:</h4>
  <p class="lead">
    Provide appointment reminders for users so that they get to therapy
    <br />
    Generate a wellness report that will help them answer screening questions and more accurately reflect on their wellbeing
  </p>
  <hr class="my-4">
  <h4 class="display-6">Anxiety and Depression in the US</h4>
  <p class="lead">
    Anxiety disorders are the most common mental illness in the U.S., affecting 40 million adults in the United States, or 18.1% of the population every year. Anxiety disorders are often coupled with depressive disorders, such as major depressive disorder which affects about 6.7% of U.S. adults. However only 36.9% people affected by anxiety and 61.7% of those affected by depression receive treatment. The goal of this application is to allow users a way to synthesize information on their wellness and receive appointment reminders so that therapy appointments will be easier and less intimidating to attend.
  </p>
</div>