<div class="jumbotron text-center">
  <h1 class="display-4">TherapyTrack</h1>
  <hr class="my-4">
  <p class="lead">TherapyTrack is an application for people with anxiety/depression that synthesizes user information in a single page report and remind users to schedule therapy appointments.</p>
    <a class="btn btn-primary btn-lg" href="/auth/google_oauth2" role="button">Sign In with Google</a>
</div>